.top-page
  %P WHAT DO YOU WANT ?
  .link
    .link__log-in
      .link__log-in__login_btn
        LOG-IN
    .link__sign-up
      .link__sign-up__signup_btn
        SIGN-UP
  .how_to
    %i.fa.fa-angle-double-down.fa-3x
  - if flash[:notice]
    .flash
      = flash[:notice]

.top-page-2
  .top-page-2__content
    .top-page-2__content__header#trigger0
    .top-page-2__content__title#trigger1
      WHAT DO YOU WANT FOR YOUR LIFE?
    .top-page-2__content__discription#trigger2
      %p
        What do you want for your life?
        %br
        Let's share the your Bucket List
        %br 
        %br
      %p
        This app share your Bucket List
        %br
        Others will be inspired & support you & your dream
        %br
        Don’t you have it or know to create it, right?
        %br
        Plz don’t worry, there are three points
        %p{style: "margin-left: 2em"}
          1, don’t worry about your appearance
          %br
          2, too specific
          %br
          3, think about why do you want it
      %p{style:"font-weight: bold"}
        You only live once. Might as well enjoy it!!
    .top-page-2__content__image#trigger3
    .top-page-2__content__detail#trigger4
      .top-page-2__content__detail__circle1
      .top-page-2__content__detail__comment1
        your dream
      .top-page-2__content__detail__circle2
      .top-page-2__content__detail__comment2
        your bucket list label (addable)
      .top-page-2__content__detail__circle3
      .top-page-2__content__detail__comment3
        your bucket list
    .top-page-2__content__detail__discription#trigger5
      %p
        This is actual screen
        %br
        You can make & add bucket list label 
        %br
        and that contens
        %br
        And then, everyone share these
        %br
      %p{style:"font-weight: bold"}
        Let's start for a better life!


.sign_up_modal
  = form_with model: @user, url: users_path, method: :post, id: 'new_user', class: 'new_user',name: "signup",local: true do |f|
    .sign_up_modal__header
      %h2 Sign up
    .sign_up_modal__back
      ← BACK
    .sign_up_modal__contents
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          %p NAME *
        .sign_up_modal__contents__box__form
          = f.text_field :name, class: "user_form validate[required]",id: "user_name",required:"",placeholder: "SMITH", autofocus: true
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          %p E-MAIL *
        .sign_up_modal__contents__box__form
          = f.email_field :email,class: "user_form", autofocus: true,required:"",placeholder:"123@123.com", autocomplete: "email"
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          %p AVATAR *
        .sign_up_modal__contents__box__form
          = f.file_field :avatar,class: "user_form", id: "first_user_avatar",required:"", style: "display:none"
          %label{for: "first_user_avatar",class: "first-image"}select image
          .first_user_avatar
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          %p PASSWARD (6 or more characters) *
        .sign_up_modal__contents__box__form
          = f.password_field :password,class: "user_form", required:"",minlength:"6", "data-parsley-minlength":"6", autocomplete: "new-password"
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          %p PASSWARD (COMFIRMATION) *
        .sign_up_modal__contents__box__form
          = f.password_field :password_confirmation, class: "user_form",required:"","data-parsley-equalto": "#user_password","data-parsley-equalto-message": "unmatch", minlength:"6", "data-parsley-minlength":"6", autocomplete: "new-password"
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          %p WHAT DO YOU WANT? *
        .sign_up_modal__contents__box__form
          = f.text_field :want,class: "user_form",required:"",placeholder:"I WANNA TRIP ARROUND the WORLD", autofocus: true
          = f.hidden_field :remember_token #tokenの保存
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          SELF-INTRODUCTION
        .sign_up_modal__contents__box__form
          = f.text_area :self_introduction,class: "user_form__intro",placeholder:"Hello", autofocus: true
      .sign_up_modal__contents__btn
        = f.submit "Sign up", class: "form_btn"

.log_in_modal
  = form_with url: login_path,id: "log_in_user", local: true do |f|
    .log_in_modal__header
      %h2 Log in
    .log_in_modal__back
      ← BACK
    .sign_up_modal__contents
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          E-MAIL *
        .sign_up_modal__contents__box__form#required
          = f.email_field :email,class: "user_form",required:"",placeholder:"123@123.com", autofocus: true, autocomplete: "email", name: "session[email]"
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          PASSWARD (6 or more characters) *
        .sign_up_modal__contents__box__form#required
          = f.password_field :password,class: "user_form", required:"",minlength:"6", "data-parsley-minlength":"6", autocomplete: "current-password", name: "session[password]"
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          PASSWARD (COMFIRMATION) *
        .sign_up_modal__contents__box__form#required
          = f.password_field :password_confirmation, class: "user_form",required:"","data-parsley-equalto": "#password","data-parsley-equalto-message": "unmatch", minlength:"6", "data-parsley-minlength":"6", autocomplete: "current-password"
      .sign_up_modal__contents__btn
        = f.submit "Log In", class: "form_btn"
