.top-page
  %P WHAT DO YOU WANT ?
  .link
    .link__log-in
      .link__log-in__login_btn
        LOG-IN
    .link__sign-up
      .link__sign-up__signup_btn
        SIGN-UP

.sign_up_modal
  = form_with model: @user, url: users_path, method: :post, id: 'new_user', class: 'new_user',name: "signup",local: true do |f|
    .sign_up_modal__header
      %h2 Sign up
    .sign_up_modal__contents
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          %p NAME *
        .sign_up_modal__contents__box__form
          = f.text_field :name, class: "user_form validate[required]",id: "user_name",required:"", autofocus: true
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          %p E-MAIL *
        .sign_up_modal__contents__box__form
          = f.email_field :email,class: "user_form", autofocus: true,required:"", autocomplete: "email"
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          %p AVATAR *
        .sign_up_modal__contents__box__form
          = f.file_field :avatar,class: "user_form", id: "first_user_avatar",required:"", style: "display:none"
          %label{for: "first_user_avatar",class: "first-image"}select image
          .first_user_avatar
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          %p PASSWARD (6 or more characters) *
        .sign_up_modal__contents__box__form
          = f.password_field :password,class: "user_form", required:"",minlength:"6", "data-parsley-minlength":"6", autocomplete: "new-password"
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          %p PASSWARD (COMFIRMATION) *
        .sign_up_modal__contents__box__form
          = f.password_field :password_confirmation, class: "user_form",required:"","data-parsley-equalto": "#user_password","data-parsley-equalto-message": "unmatch", minlength:"6", "data-parsley-minlength":"6", autocomplete: "new-password"
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          %p WHAT DO YOU WANT? *
        .sign_up_modal__contents__box__form
          = f.text_field :want,class: "user_form",required:"", autofocus: true
          = f.hidden_field :remember_token
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          SELF-INTRODUCTION
        .sign_up_modal__contents__box__form
          = f.text_area :self_introduction,class: "user_form__intro", autofocus: true
      .sign_up_modal__contents__btn
        = f.submit "Sign up", class: "form_btn"

.log_in_modal
  = form_with url: login_path,id: "log_in_user", local: true do |f|
    .log_in_modal__header
      %h2 Log in
    .sign_up_modal__contents
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          E-MAIL *
        .sign_up_modal__contents__box__form#required
          = f.email_field :email,class: "user_form",required:"", autofocus: true, autocomplete: "email", name: "session[email]"
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          PASSWARD (6 or more characters) *
        .sign_up_modal__contents__box__form#required
          = f.password_field :password,class: "user_form", required:"",minlength:"6", "data-parsley-minlength":"6", autocomplete: "current-password", name: "session[password]"
      .sign_up_modal__contents__box
        .sign_up_modal__contents__box__title
          PASSWARD (COMFIRMATION) *
        .sign_up_modal__contents__box__form#required
          = f.password_field :password_confirmation, class: "user_form",required:"","data-parsley-equalto": "#password","data-parsley-equalto-message": "unmatch", minlength:"6", "data-parsley-minlength":"6", autocomplete: "current-password"
      .sign_up_modal__contents__btn
        = f.submit "Log In", class: "form_btn"
