.todo_header
  .todo_header__content
    .todo_header__content__title
      %h1　みんなのやりたいことリスト
    .todo_header__content__user_name
    .todo_header__content__user_icon
    .todo_header__content__all_todos
    .todo_header__content__back
      = link_to "← back", root_path
      

.all_todos
  .all_todos__content
    - @users.each do |user|
      .all_todos__content__personal
        .all_todos__content__personal__user_name
          %p= user.name
        .all_todos__content__personal__user_icon
          .all_todos__content__personal__user_icon__img
            = image_tag(user.avatar.variant(resize: "300x350"))
        .all_todos__content__personal__index
          .all_todos__content__personal__index__user_want
            .all_todos__content__personal__index__user_want__content
              %h2= user.want
          - if user.self_introduction
            .all_todos__content__personal__index__description
              = user.self_introduction
          - else
            .all_todos__content__personal__index__description
              NOT YET...
          .all_todos__content__personal__index__detail_btn{"data-user-id":"#{user.id}"}
            more

        -# todoモーダル
        .parsonal_todos{id: "parsonal_todos#{user.id}", "data-user-id":"#{user.id}"}
          .parsonal_todos__want
            = user.want
          .todo_content__tab_wrap
            .todo_back
              ← back
            .todo_content__tab_wrap__tab_area
              - @titles.each do |title|
                - if title.user_id == user.id
                  %a(href="#tab-#{title.id}"){class: "todo_content__tab_wrap__tab_area__tab_label",id: "tab-#{title.id}"}
                    = title.title
                    - title_id = title.id
              .todo_content__tab_wrap__todo_area
                - @titles.each do |title|
                  - @todos.each do |todo|
                    - if title.id == todo.title_id && todo.user_id == user.id
                      .todo_content__tab_wrap__todo_area__todo_box{id: "tab-#{title.id}"}
                        .todo_content__tab_wrap__todo_area__todo_box__display{class: "add#{title.id}"}
                          .todo_content__tab_wrap__todo_area__todo_box__display__one_todo_wrap{"data-todo-id":"#{todo.id}"}
                            .todo_content__tab_wrap__todo_area__todo_box__display__one_todo_wrap__content
                              = todo.content
                            .todo_content__tab_wrap__todo_area__todo_box__display__one_todo_wrap__like
                              - if todo.liked_by?(current_user) #すでにいいねしていれば（todoモデルにて定義）
                                %i.fa.fa-heart{"data-todo-id":"#{todo.id}"}
                                .likes_count
                                  = todo.likes.count
                              - else                            #まだいいねしていなければ
                                %i.fa.fa-heart-o{"data-todo-id":"#{todo.id}"}
                                .likes_count
                                  = todo.likes.count

