.todo_header
  .todo_header__content
    .todo_header__content__title
      %h1 
      =@user.want
    .todo_header__content__user_name
      = @user.name
    .todo_header__content__user_icon
      = image_tag(@user.avatar.variant(resize: "110x110"))
    .todo_header__content__all_todos
      = link_to "一覧", todos_path()
    .todo_header__content__log_out
      = link_to "ログアウト", logout_path, method: :delete, class: 'btn'

.todo_content
  .todo_content__tab_wrap
    .todo_content__tab_wrap__tab_area
      - @user_title.each do |user_title|
        %a(href="#tab-#{user_title.id}"){class: "todo_content__tab_wrap__tab_area__tab_label",id: "tab-#{user_title.id}"}
          = user_title.title
          - title_id = user_title.id
        .delete_tab{id: "tab-#{user_title.id}","data-title-id":"#{user_title.id}"}
          %p×
    .add_tab
      ➕
    .tab_balloon
      やりたいことを入力しよう！
    .todo_content__tab_wrap__todo_area
      - @user_title.each do |user_title|
        .todo_content__tab_wrap__todo_area__todo_box{id: "tab-#{user_title.id}"}
          - if @todos
            .todo_content__tab_wrap__todo_area__todo_box__display{class: "add#{user_title.id}"}
              - @todos.each do |todo|
                - if todo.title_id == user_title.id
                  .todo_content__tab_wrap__todo_area__todo_box__display__one_todo_wrap{"data-todo-id":"#{todo.id}"}
                    .todo_content__tab_wrap__todo_area__todo_box__display__one_todo_wrap__content
                      = todo.content
                    .todo_content__tab_wrap__todo_area__todo_box__display__one_todo_wrap__delete_btn{"data-todo-id":"#{todo.id}"}
                      削除
                    .todo_content__tab_wrap__todo_area__todo_box__display__one_todo_wrap__like
                      - if todo.liked_by?(current_user) #すでにいいねしていれば（todoモデルにて定義）
                        %i.fa.fa-heart{"data-todo-id":"#{todo.id}"}
                        .likes_count
                          = todo.likes.count
                      - else                            #まだいいねしていなければ
                        %i.fa.fa-heart-o{"data-todo-id":"#{todo.id}"}
                        .likes_count
                          = todo.likes.count
                      
            .todo_content__tab_wrap__todo_area__todo_box__create_todo{"data-title-id":"#{user_title.id}"}
              = form_with model: @todo,url: { controller: 'todos', action: 'create' }, local: true do |f|
                = f.text_field :content,class: "todo_form",id: "todo_content#{user_title.id}"

.title_modal
  = form_with model: @title, url: {controller: "titles", action: "create"}, local: true do |f|
    .title_modal__box
      .title_modal__box__content
        タイトルを入力してください
        .title_modal__box__content__form
          = f.text_field :title
    .title_modal__select
      .title_modal__select--cancel
        キャンセル
      .title_modal__select--done
        = f.submit "完了",{class: "done-btn"}
